# Java
target/
*.class
*.jar
*.war

# Maven
.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/
shieldgate-frontend/node_modules/
shieldgate-frontend/dist/

# IDE
.idea/
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Env
.env
.env.local

# OS
Thumbs.db